@import '../variable';
@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

img {
    margin: 0 11px;
}

.header {
    box-shadow: 0px 0px 10px 2px rgba(133, 133, 133, 0.1);
    height: 80px;
}

.header > div {
    position: relative;
    width: 100%;
    .logo {
        font-size: 25px;
        font-family: $font_prettyRum;
    }

    .logo > span {
        font-size: 20px;
    }

    .logo > img {
        width: 40px;
    }

    .theme {
        position: absolute;
        margin: auto;
        left: 50%;
    }

    .theme > img {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: -100%;
        width: 5em;
        cursor: pointer;

        &.img-sol {
            transition: all 1s;
            transform: rotate(0deg);
        }

        &.img-luna {
            transition: all 1s;
            transform: rotate(180deg);
        }
    }

    .redes > a > img {
        width: 30px;
    }
}
