@import '../variable';

.options {
    background-color: #3ab0ff;
    padding: 20px;
    border-radius: 5px;

    h2 {
        font-family: $font_prettyRum;
        color: white;
        margin: 0;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 400;
    }
}

.options > form {
    width: 160px;
}

.options > form > label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    font-family: $font_prettyRoboto;
    font-weight: 500;
    color: rgb(229, 231, 233);

    input {
        position: absolute;
        cursor: pointer;
        height: 0;
        width: 0;
        opacity: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 2px;

        &::after {
            content: '';
            position: absolute;
            display: none;
        }
    }

    &::hover > input ~ .chekmark {
        background-color: #eee;
    }

    & > input:checked ~ .checkmark {
        background-color: #2196f3;
    }

    & > input:checked ~ .checkmark::after {
        display: block;
    }

    & > .checkmark::after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}
