@import '../variable';

.options {
    padding: 20px;
    border-right: 1px solid var(--line-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    h2 {
        font-family: $font_prettyRum;
        color: white;
        margin: 0 auto;
        font-size: 23px;
        margin-bottom: 30px;
        font-weight: 200;
        // background-color: #1377ff;
        background-color: var(--bg-option-coolor);
        padding: 5px 20px;
        border-radius: 50px;
        box-shadow: var(--boxShadow-option-color);
    }
}

.options > form {
    width: 150px;
}

.options > form > label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 35px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    font-family: $font_prettyRoboto;
    font-weight: 500;
    color: var(--font-option-color);

    input {
        position: absolute;
        cursor: pointer;
        height: 0;
        width: 0;
        opacity: 0;
    }

    .checkmark {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 5px;
        border: var(--box-option-borde);

        &::after {
            content: '';
            position: absolute;
            display: none;
            margin: -2px;
        }
    }

    &::hover > input ~ .chekmark {
        background-color: #eee;
    }

    & > input:checked ~ .checkmark {
        background-color: #2196f3;
    }

    & > input:checked ~ .checkmark::after {
        display: block;
    }

    & > .checkmark::after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}
