@import '../variable';
.show-content {
    width: 100%;
    background-color: #f1f1f1;
    margin-left: 15px;
    border-radius: 5px;
}

.show-content > h2 {
    font-family: $font_prettyRum;
    font-weight: 200;
    text-align: center;
    font-size: 30px;
}
